header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

h1,
h2,
p {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(207, 207, 207);
}

main {
  padding: 20px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
}

th {
  background-color: #333;
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

form {
  margin-top: 20px;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #8d8888;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}
.img {
  text-align: center;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}
